/*FLEX-BOX-HACKS*/

.flex-o-1 {
    order: 0;
}

.flex-o-2 {
    order: 1;
}

.flex-o-3 {
    order: 2;
}

.flex-o-4 {
    order: 3;
}

.flex-o-5 {
    order: 4;
}
.flex-alt-view {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 767px) {
    .flex-mobile-view {
        display: flex !important;
    }
    .flex-justify-mobile-around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .flex-odesk-1 {
        order: 0;
    }
    .flex-odesko-2 {
        order: 1;
    }
}

@media (min-width: 768px) {
    .flex-view {
        display: flex !important;
    }
    .flex-justify-start {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .flex-justify-center {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .flex-justify-end {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .flex-justify-around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .flex-justify-between {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .flex-align-center {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .flex-align-end {
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .flex-align-self-end {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .flex-basis-1 {
        flex-basis: 100%;
    }
    .flex-basis-2 {
        flex-basis: 30%;
    }
    .flex-basis-main-nav-item {
        flex-basis: 5rem;
    }
    .flex-basis-main-nav-search {
        flex-basis: 1rem;
    }
    .flex-grow-1 {
        flex-grow: 1;
    }
    .flex-grow-2 {
        flex-grow: 2;
    }
    .flex-grow-3 {
        flex-grow: 3;
    }
    .flex-grow-4 {
        flex-grow: 4;
    }
    .flex-change-view-md {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-alignself-top {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .flex-odesk-1 {
        order: 0;
    }
    .flex-odesko-2 {
        order: 1;
    }
}

@media (min-width: 992px) {
    .flex-row-view-md {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (max-width: 1199px) {
    .flex-view-lg {
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .flex-row-view-xl {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


/*end flexbox hacks*/
