/*#F26047 - replace for orange// #3c92ca - replace for blueish*/
/* Header */
#header {
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3);
  box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3); }
  #header .header-body {
    background: #FFF;
    border-top: 3px solid #EDEDED;
    border-bottom: 1px solid transparent;
    padding: 8px 0;
    -webkit-transition: min-height 0.3s ease;
    -moz-transition: min-height 0.3s ease;
    transition: min-height 0.3s ease;
    width: 100%;
    z-index: 1001;
    min-height: 90px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2);
    box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2); }
  #header.header-no-min-height .header-body {
    min-height: 0 !important; }
  #header .container {
    position: relative; }
  #header .header-container {
    position: relative;
    display: table; }
  #header .header-top {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ededed;
    margin-top: -13px;
    padding: 8px 0;
    position: relative;
    z-index: 4; }
    #header .header-top::after {
      clear: both;
      content: "";
      display: table; }
    #header .header-top p {
      font-size: 0.9em;
      margin: 0;
      padding: 0;
      line-height: 37px;
      float: left; }
      #header .header-top p .fa,
      #header .header-top p .icons {
        position: relative;
        top: 1px; }
    #header .header-top .header-search {
      float: right;
      margin-top: 2px;
      margin-left: 10px;
      margin-right: 0; }
    #header .header-top .header-nav-top {
      float: left;
      margin-top: 0;
      margin-left: 0;
      margin-right: 10px; }
    #header .header-top .header-social-icons {
      margin-top: 3px; }
    #header .header-top.header-top-colored {
      margin-top: -13px;
      border-top: 5px solid #CCC;
      border-bottom: 0;
      color: #FFF; }
      #header .header-top.header-top-colored p,
      #header .header-top.header-top-colored a,
      #header .header-top.header-top-colored span {
        color: #FFF; }
      #header .header-top.header-top-colored .form-control {
        border: 0; }
    #header .header-top.header-top-style-2 {
      background: #f6f6f6;
      margin-top: -16px; }
    #header .header-top.header-top-style-3 {
      margin-top: -16px;
      margin-bottom: 10px; }
    #header .header-top.header-top-style-4 {
      background: #E4E6ED;
      margin-top: -16px;
      margin-bottom: 10px;
      border-bottom: 0; }
  #header .header-row {
    display: table-row;
    clear: both; }
  #header .header-column {
    display: table-cell;
    vertical-align: middle; }
    #header .header-column .row {
      margin: 0; }
    #header .header-column .header-row {
      display: block;
      clear: right; }
    #header .header-column .header-extra-info {
      list-style: outside none none;
      margin: 24px 0 0;
      padding: 0;
      float: right; }
      #header .header-column .header-extra-info li {
        display: inline-block;
        margin-left: 25px; }
        #header .header-column .header-extra-info li .feature-box small {
          position: relative;
          top: -4px; }
    #header .header-column.header-column-valign-top {
      vertical-align: top; }
    #header .header-column.header-column-valign-bottom {
      vertical-align: bottom; }
    #header .header-column.header-column-center {
      text-align: center; }
      #header .header-column.header-column-center .header-logo {
        width: 100% !important;
        padding: 9px 0; }
  #header .header-logo {
    float: left;
    position: relative; }
    #header .header-logo img {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative;
      margin: 24px 15px 15px 0;
      top: 0; }
  #header .header-logo-mobile {
    float: left;
    position: relative; }
    #header .header-logo-mobile img {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative;
      margin: 15px 15px 15px 0;
      top: 0; }
  #header .header-nav-top {
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
    #header .header-nav-top .nav > li > a,
    #header .header-nav-top .nav > li > span {
      color: #999;
      font-size: 0.9em;
      padding: 6px 10px;
      display: inline-block; }
      #header .header-nav-top .nav > li > a a,
      #header .header-nav-top .nav > li > span a {
        color: #999; }
        #header .header-nav-top .nav > li > a a:hover,
        #header .header-nav-top .nav > li > span a:hover {
          color: #727272; }
    #header .header-nav-top .nav > li > a .fa,
    #header .header-nav-top .nav > li > a .icons {
      margin-right: 3px;
      position: relative;
      top: 1px; }
    #header .header-nav-top .nav > li > span .fa,
    #header .header-nav-top .nav > li > span .icons {
      margin-right: 3px;
      position: relative;
      top: 1px; }
    #header .header-nav-top .nav > li > a:hover,
    #header .header-nav-top .nav > li > a a:focus {
      background: #EEE; }
    #header .header-nav-top .nav > li.open > .dropdown-menu-toggle {
      border-radius: 4px 4px 0 0; }
    #header .header-nav-top .dropdown-menu {
      border-color: #EEE;
      margin-top: -2px;
      border-radius: 4px 0 4px 4px;
      padding: 0;
      top: 50%; }
      #header .header-nav-top .dropdown-menu a {
        color: #999;
        padding: 6px 12px;
        font-size: 0.9em; }
    #header .header-nav-top .flag {
      margin-right: 6px;
      margin-bottom: 2px; }
  #header .header-search {
    float: right;
    margin-top: 10px;
    margin-left: 10px; }
    #header .header-search .form-control {
      border-radius: 20px;
      font-size: 0.9em;
      height: 34px;
      margin: 0;
      padding: 6px 12px;
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      transition: width 0.3s ease;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      width: 170px; }
    #header .header-search .btn-default {
      background: transparent;
      border: 0 none;
      color: #CCC;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3; }
      #header .header-search .btn-default:hover {
        color: #000; }
  #header .header-social-icons {
    float: right;
    margin: 15px 0 0 10px; }
  #header .header-btn-collapse-nav {
    background: #CCC;
    color: #FFF;
    display: none;
    float: right;
    margin: 12px 0 8px 15px; }
  #header.header-narrow .header-body {
    min-height: 0; }
  #header.header-narrow .header-logo img {
    margin: 12px 12px 12px 0; }
  #header.header-narrow .header-nav-main {
    margin-bottom: 0; }
  #header.header-no-border-bottom .header-body {
    padding-bottom: 0 !important;
    border-bottom: 0 !important; }

html:not(.boxed) #header.header-full-width .header-container {
  width: 100%; }
html #header.header-transparent {
  min-height: 0 !important;
  width: 100%;
  position: absolute; }
  html #header.header-transparent .header-body {
    position: relative;
    top: 0;
    background: transparent;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none; }
    html #header.header-transparent .header-body:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #FFF;
      opacity: 0;
      border-bottom: 1px solid #f1f1f1;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
html.sticky-header-enabled #header.header-transparent .header-body {
  position: fixed; }
html.sticky-header-active #header.header-transparent .header-body {
  border-bottom: 0;
  box-shadow: none; }
  html.sticky-header-active #header.header-transparent .header-body:before {
    opacity: 1; }
html #header.header-semi-transparent, html #header.header-semi-transparent-light {
  min-height: 0 !important;
  width: 100%;
  position: absolute; }
html #header.header-semi-transparent .header-body, html #header.header-semi-transparent-light .header-body {
  position: relative;
  top: 0;
  background: transparent;
  border-top: 0;
  border-bottom: 0;
  box-shadow: none; }
html #header.header-semi-transparent .header-body:before, html #header.header-semi-transparent-light .header-body:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  border-bottom: 0;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
html.sticky-header-enabled #header.header-semi-transparent .header-body {
  position: fixed; }
html.sticky-header-active #header.header-semi-transparent .header-body {
  border-bottom: 0;
  box-shadow: none; }
  html.sticky-header-active #header.header-semi-transparent .header-body:before {
    opacity: 0.8; }
html #header.header-semi-transparent-light .header-body:before {
  opacity: 0.1;
  background: #FFF; }
html.sticky-header-enabled #header.header-semi-transparent-light .header-body {
  position: fixed; }
html.sticky-header-active #header.header-semi-transparent-light .header-body {
  border-bottom: 0;
  box-shadow: none; }
  html.sticky-header-active #header.header-semi-transparent-light .header-body:before {
    border-bottom: 1px solid #f1f1f1;
    opacity: 0.9; }
html #header.header-transparent-bottom-border .header-body {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
html.sticky-header-active #header .header-body {
  /*position: fixed;*/
  border-bottom-color: #e9e9e9; }
html:not(.sticky-header-active) #header.header-transparent-sticky-deactive .header-body:before {
  background: transparent !important; }

@media (max-width: 991px) {
  html.sticky-header-active #header.has-nav-bar .header-logo img {
    top: 86px;
    padding: 5px 8px;
    z-index: 1; } }
/* Header Nav Main */
@media (min-width: 992px) {
  .sticky-header-active #header .header-body {
    position: fixed; }

  #header .header-body {
    min-height: 125px; }
    #header .header-body .header-nav-top {
      float: right;
      margin-top: 10px;
      margin-left: 10px; }
    #header .header-body .header-nav-main {
      float: right;
      margin: 12px 0 0;
      min-height: 45px; }
      #header .header-body .header-nav-main nav > ul > li {
        padding: 10px 20px; }
        #header .header-body .header-nav-main nav > ul > li > a {
          display: inline-block;
          border-radius: 4px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: #333; }
          #header .header-body .header-nav-main nav > ul > li > a.dropdown-toggle .fa-caret-down {
            display: none; }
          #header .header-body .header-nav-main nav > ul > li > a.dropdown-toggle:after {
            border-color: #CCC transparent transparent transparent;
            border-style: solid;
            border-width: 4px;
            content: " ";
            float: right;
            margin-top: 7px;
            margin-left: 4px; }
        #header .header-body .header-nav-main nav > ul > li:after {
          content: "";
          background-color: #8c8c8c;
          display: block;
          width: 100%;
          height: 2px;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1);
          -ms-transform-origin: left center;
          transform-origin: left center;
          -webkit-transform-origin: left center;
          transition: all .15s ease-out;
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0; }
        #header .header-body .header-nav-main nav > ul > li.open > a:after, #header .header-body .header-nav-main nav > ul > li:hover:after {
          transform: scale(1, 1);
          opacity: 1; }
        #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu {
          top: -10000px;
          display: block;
          opacity: 0;
          left: auto;
          border-radius: 0 4px 4px;
          border: 0;
          border-top: 3px solid #CCC;
          box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
          margin: -3px 0 0 0;
          min-width: 200px;
          padding: 5px;
          text-align: left; }
          #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
            border-bottom: 1px solid #f4f4f4;
            color: #777;
            font-size: 0.9em;
            font-weight: 400;
            padding: 8px 20px 8px 8px;
            position: relative;
            text-transform: none; }
          #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu {
            position: relative; }
            #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a .fa-caret-down {
              display: none; }
            #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
              border-color: transparent transparent transparent #CCC;
              border-style: solid;
              border-width: 4px 0 4px 4px;
              content: " ";
              position: absolute;
              top: 50%;
              right: 10px;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%); }
            #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
              display: block;
              margin-top: -8px;
              margin-left: -1px;
              border-radius: 4px;
              opacity: 0; }
            #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu:hover > .dropdown-menu {
              top: 0;
              opacity: 1; }
          #header .header-body .header-nav-main nav > ul > li.dropdown .dropdown-menu li:last-child a {
            border-bottom: 0; }
        #header .header-body .header-nav-main nav > ul > li.dropdown.open li.dropdown-submenu > .dropdown-menu, #header .header-body .header-nav-main nav > ul > li.dropdown:hover li.dropdown-submenu > .dropdown-menu {
          left: 100%; }
        #header .header-body .header-nav-main nav > ul > li.dropdown.open > a, #header .header-body .header-nav-main nav > ul > li.dropdown:hover > a {
          padding-bottom: 15px; }
        #header .header-body .header-nav-main nav > ul > li.dropdown.open > .dropdown-menu, #header .header-body .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
          top: auto;
          display: block;
          opacity: 1; }
        #header .header-body .header-nav-main nav > ul > li.dropdown-reverse .dropdown-menu li a {
          padding-right: 8px;
          padding-left: 20px; }
        #header .header-body .header-nav-main nav > ul > li.dropdown-reverse .dropdown-menu li.dropdown-submenu > a:after {
          border-width: 4px 4px 4px 0; }
        #header .header-body .header-nav-main nav > ul > li.dropdown-mega {
          position: static; }
          #header .header-body .header-nav-main nav > ul > li.dropdown-mega > .dropdown-menu {
            border-radius: 4px;
            left: 15px;
            right: 15px;
            width: auto; }
          #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-content {
            padding: 20px 30px; }
          #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-title {
            color: #333333;
            display: block;
            font-size: 1em;
            font-weight: 600;
            margin-top: 20px;
            padding-bottom: 5px;
            text-transform: uppercase; }
            #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-title:first-child {
              margin-top: 0; }
          #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav {
            list-style: none;
            padding: 0;
            margin: 0; }
            #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a {
              border: 0 none;
              border-radius: 4px;
              color: #777;
              display: block;
              font-size: 0.9em;
              font-weight: normal;
              margin: 0 0 0 -8px;
              padding: 3px 8px;
              text-shadow: none;
              text-transform: none;
              text-decoration: none; }
            #header .header-body .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li:hover > a {
              background: #f4f4f4; }
      #header .header-body .header-nav-main.header-nav-main-no-arrows nav > ul > li a.dropdown-toggle {
        padding-left: 16px !important;
        padding-right: 16px !important; }
        #header .header-body .header-nav-main.header-nav-main-no-arrows nav > ul > li a.dropdown-toggle:after {
          display: none; }
      #header .header-body .header-nav-main.header-nav-main-square {
        margin-bottom: -9px; }
        #header .header-body .header-nav-main.header-nav-main-square nav > ul > li > a {
          border-radius: 0; }
        #header .header-body .header-nav-main.header-nav-main-square nav > ul > li.dropdown .dropdown-menu {
          margin-top: 0;
          border-radius: 0; }
          #header .header-body .header-nav-main.header-nav-main-square nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
            border-radius: 0; }
        #header .header-body .header-nav-main.header-nav-main-square nav > ul > li.dropdown-mega > .dropdown-menu,
        #header .header-body .header-nav-main.header-nav-main-square nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a {
          border-radius: 0; }
      #header .header-body .header-nav-main a > .thumb-info-preview {
        position: absolute;
        display: block;
        left: 100%;
        opacity: 0;
        border: 0;
        padding-left: 10px;
        background: transparent;
        overflow: visible;
        margin-top: 15px;
        top: -10000px;
        -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
        -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transform: translate3d(-20px, 0, 0); }
        #header .header-body .header-nav-main a > .thumb-info-preview .thumb-info-wrapper {
          background: #FFF;
          display: block;
          border-radius: 4px;
          border: 0;
          box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
          margin: 0;
          padding: 4px;
          text-align: left;
          width: 190px; }
        #header .header-body .header-nav-main a > .thumb-info-preview .thumb-info-image {
          transition: all 6s linear 0s;
          width: 182px;
          height: 136px;
          min-height: 0; }
      #header .header-body .header-nav-main a:hover > .thumb-info-preview {
        transform: translate3d(0, 0, 0);
        top: 0;
        opacity: 1;
        margin-top: -5px; }
      #header .header-body .header-nav-main .dropdown-reverse a > .thumb-info-preview {
        transform: translate3d(20px, 0, 0);
        right: 100%;
        left: auto;
        padding-left: 0;
        margin-right: 10px; }
      #header .header-body .header-nav-main .dropdown-reverse a:hover > .thumb-info-preview {
        transform: translate3d(0, 0, 0); }
    #header .header-body .header-nav {
      display: block !important; }
      #header .header-body .header-nav.header-nav-stripe {
        margin-bottom: -23px; }
        #header .header-body .header-nav.header-nav-stripe nav > ul > li > a {
          background: transparent;
          padding: 40px 13px 38px;
          margin: 0; }
        #header .header-body .header-nav.header-nav-stripe nav > ul > li:hover > a {
          background: transparent;
          padding: 40px 13px 38px;
          margin: 0; }
        #header .header-body .header-nav.header-nav-stripe nav > ul > li:hover > a {
          color: #FFF; }
        #header .header-body .header-nav.header-nav-stripe nav > ul > li > a {
          color: #444; }
          #header .header-body .header-nav.header-nav-stripe nav > ul > li > a.dropdown-toggle:after {
            border-color: #444 transparent transparent transparent; }
        #header .header-body .header-nav.header-nav-stripe .header-social-icons {
          margin-top: 45px; }
      #header .header-body .header-nav.header-nav-top-line {
        margin-bottom: -7px; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li > a {
          background: transparent;
          color: #444;
          padding: 21px 13px 35px;
          margin: 0; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li:hover > a {
          background: transparent;
          color: #444;
          padding: 21px 13px 35px;
          margin: 0; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li:hover > a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          top: -16px;
          left: 0;
          opacity: 0; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li > a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          top: -16px;
          left: 0;
          opacity: 0; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li.active > a:before, #header .header-body .header-nav.header-nav-top-line nav > ul > li:hover > a:before {
          opacity: 1; }
        #header .header-body .header-nav.header-nav-top-line nav > ul > li > a.dropdown-toggle:after {
          border-color: #444 transparent transparent transparent; }
        #header .header-body .header-nav.header-nav-top-line .header-social-icons {
          margin-top: 27px; }
      #header .header-body .header-nav.header-nav-dark-dropdown {
        margin-bottom: -9px; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li > a, #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li:hover > a {
          background: transparent;
          color: #444;
          padding: 21px 13px 35px;
          margin: 0; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li > a.dropdown-toggle:after {
          border-color: #444 transparent transparent transparent; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown li a {
          border-bottom-color: #2a2a2a; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu {
          background: #1e1e1e; }
          #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a {
            color: #969696; }
            #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a:hover, #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a:focus {
              background: #282828; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown.dropdown-mega .dropdown-mega-sub-title {
          color: #ababab; }
        #header .header-body .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown.dropdown-mega .dropdown-mega-sub-nav > li:hover > a {
          background: #282828; }
        #header .header-body .header-nav.header-nav-dark-dropdown .header-social-icons {
          margin-top: 27px; }
      #header .header-body .header-nav.header-nav-center .header-nav-main {
        float: none;
        margin: 0; }
        #header .header-body .header-nav.header-nav-center .header-nav-main > nav {
          width: 100%;
          text-align: center; }
          #header .header-body .header-nav.header-nav-center .header-nav-main > nav > ul > li {
            display: inline-block;
            float: none;
            text-align: left; }
    #header .header-body .header-nav-main {
      display: block !important;
      height: auto !important; }
    #header .header-body .header-nav-bar {
      background: #F4F4F4;
      padding: 0 10px 5px;
      margin-bottom: 0; }
      #header .header-body .header-nav-bar .header-nav-main {
        float: left;
        margin-bottom: 0; } }
/* Header Narrow */
@media (min-width: 992px) {
  #header.header-narrow .header-nav.header-nav-stripe nav > ul > li > a, #header.header-narrow .header-nav.header-nav-stripe nav > ul > li:hover > a {
    padding: 45px 13px 30px;
    margin: -12px 0 0; }
  #header.header-narrow .header-nav.header-nav-dark-dropdown nav > ul > li > a, #header.header-narrow .header-nav.header-nav-dark-dropdown nav > ul > li:hover > a {
    padding: 45px 13px 30px;
    margin: -12px 0 0; }
  #header.header-narrow .header-nav.header-nav-stripe .header-social-icons, #header.header-narrow .header-nav.header-nav-dark-dropdown .header-social-icons {
    margin-top: 40px; }
  #header.header-narrow .header-nav.header-nav-top-line nav > ul > li > a {
    padding: 22px 13px 30px;
    margin: 5px 0 0; }
  #header.header-narrow .header-nav.header-nav-top-line nav > ul > li:hover > a {
    padding: 22px 13px 30px;
    margin: 5px 0 0; }
  #header.header-narrow .header-nav.header-nav-top-line nav > ul > li:hover > a.dropdown-toggle:after {
    top: 22px; }
  #header.header-narrow .header-nav.header-nav-top-line nav > ul > li > a.dropdown-toggle:after {
    top: 22px; }
  #header.header-narrow .header-nav.header-nav-top-line .header-social-icons {
    margin-top: 30px; } }
@media (min-width: 992px) {
  #header .header-nav-main.header-nav-main-light nav > ul > li > a {
    color: #FFF; }
    #header .header-nav-main.header-nav-main-light nav > ul > li > a.dropdown-toggle:after {
      border-color: #FFF transparent transparent transparent; }
  #header .header-nav-main.header-nav-main-light nav > ul > li.open > a, #header .header-nav-main.header-nav-main-light nav > ul > li:hover > a {
    background: #FFF; }
  #header .header-nav-main.header-nav-main-light nav > ul > li.open > a.dropdown-toggle:after, #header .header-nav-main.header-nav-main-light nav > ul > li:hover > a.dropdown-toggle:after {
    border-color: #CCC transparent transparent transparent; }
  #header .header-nav-main.header-nav-main-light nav > ul > li.open > .dropdown-menu, #header .header-nav-main.header-nav-main-light nav > ul > li:hover > .dropdown-menu {
    border-top-color: #FFF;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05); }
  #header .header-nav-main.header-nav-main-light nav > ul > li.open > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu, #header .header-nav-main.header-nav-main-light nav > ul > li:hover > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
    border-top-color: #FFF; }
  #header .header-nav-main.header-nav-main-light nav > ul > li.active > a {
    background: #FFF; }
    #header .header-nav-main.header-nav-main-light nav > ul > li.active > a.dropdown-toggle:after {
      border-color: #CCC transparent transparent transparent; }
  #header .header-nav-main.header-nav-main-light .dropdown-menu > li > a:hover, #header .header-nav-main.header-nav-main-light .dropdown-menu > li > a:focus {
    background: #f5f5f5; } }
@media (min-width: 992px) {
  #header .header-nav-main-effect-1 nav > ul > li.dropdown .dropdown-menu li a,
  #header .header-nav-main-effect-1 nav > ul > li.dropdown .dropdown-mega-sub-nav li a {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0, -5px, 0); }
  #header .header-nav-main-effect-1 nav > ul > li.dropdown:hover > .dropdown-menu li a,
  #header .header-nav-main-effect-1 nav > ul > li.dropdown:hover .dropdown-mega-sub-nav li a {
    transform: translate3d(0, 0, 0); }
  #header .header-nav-main-effect-1 nav > ul > li.dropdown .dropdown-menu {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0, -5px, 0); }
  #header .header-nav-main-effect-1 nav > ul > li.dropdown:hover > .dropdown-menu {
    transform: translate3d(0, 0, 0); } }
@media (min-width: 992px) {
  #header .header-nav-main-effect-2 nav > ul > li.dropdown .dropdown-menu {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translate3d(0, -5px, 0);
    opacity: 0; }
  #header .header-nav-main-effect-2 nav > ul > li.dropdown:hover > .dropdown-menu {
    transform: translate3d(0, -1px, 0);
    opacity: 1; } }
@media (min-width: 992px) {
  #header .header-nav-main-effect-3 nav > ul > li.dropdown .dropdown-menu {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0, 10px, 0); }
  #header .header-nav-main-effect-3 nav > ul > li.dropdown:hover > .dropdown-menu {
    transform: translate3d(0, 0, 0); } }
@media (min-width: 992px) {
  #header .header-nav-main-sub-effect-1 nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translate3d(-20px, 0, 0);
    opacity: 0; }
  #header .header-nav-main-sub-effect-1 nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu:hover > .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  #header .header-nav-main-sub-effect-1 nav > ul > li.dropdown.dropdown-reverse .dropdown-menu li.dropdown-submenu > .dropdown-menu {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translate3d(20px, 0, 0);
    left: auto;
    right: 100%;
    opacity: 0; }
  #header .header-nav-main-sub-effect-1 nav > ul > li.dropdown.dropdown-reverse .dropdown-menu li.dropdown-submenu:hover > .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
/* Header Nav Main Mobile */
@media (max-width: 991px) {
  #header .header-nav-main {
    background: transparent;
    clear: both;
    float: none; }
    #header .header-nav-main nav {
      margin: 0 0 6px; }
      #header .header-nav-main nav > ul li {
        border-bottom: 1px solid #e8e8e8;
        clear: both;
        display: block;
        float: none;
        margin: 0;
        padding: 1.2rem 0;
        position: relative; }
        #header .header-nav-main nav > ul li a {
          font-size: 1.4rem;
          font-style: normal;
          line-height: 20px;
          padding: 7px 8px;
          margin: 1px 0;
          border-radius: 4px; }
          #header .header-nav-main nav > ul li a .fa-caret-down {
            line-height: 35px;
            min-height: 38px;
            min-width: 30px;
            position: absolute;
            right: 5px;
            text-align: center;
            top: 0; }
        #header .header-nav-main nav > ul li.dropdown .dropdown-menu {
          background: transparent;
          padding: 0;
          margin: 0;
          font-size: 13px;
          box-shadow: none;
          border-radius: 0;
          border: 0;
          clear: both;
          display: none;
          float: none;
          position: static; }
          #header .header-nav-main nav > ul li.dropdown .dropdown-menu li.dropdown-submenu.opened > .dropdown-menu {
            display: block;
            margin-left: 20px; }
        #header .header-nav-main nav > ul li.dropdown.opened > .dropdown-menu {
          display: block;
          margin-left: 20px; }
        #header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-title {
          margin-top: 10px;
          display: block; }
        #header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-nav {
          margin: 0 0 0 20px;
          padding: 0;
          list-style: none; }
          #header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-nav > li > a {
            display: block;
            text-decoration: none; }
        #header .header-nav-main nav > ul li:last-child {
          border-bottom: 0; }
      #header .header-nav-main nav > ul > li {
        text-align: center; }
        #header .header-nav-main nav > ul > li > a {
          font-weight: 400;
          margin-top: 1px;
          margin-bottom: 1px; }
        #header .header-nav-main nav > ul > li.active > a {
          color: #FFF; }
          #header .header-nav-main nav > ul > li.active > a:focus, #header .header-nav-main nav > ul > li.active > a:hover {
            color: #FFF; }
      #header .header-nav-main nav .not-included {
        margin: 0; }
    #header .header-nav-main a > .thumb-info-preview {
      display: none !important; }
  #header .header-btn-collapse-nav {
    outline: 0;
    display: block; }
  #header .header-nav-bar {
    margin: 0 auto; }
    #header .header-nav-bar .header-btn-collapse-nav {
      margin-top: 14px; }
  #header.header-transparent .header-nav-main, #header.header-semi-transparent .header-nav-main, #header.header-semi-transparent-light .header-nav-main {
    padding: 10px;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 4px; }

  html.sticky-header-enabled #header .header-nav-main {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto; }
    html.sticky-header-enabled #header .header-nav-main.collapsing {
      overflow: hidden; } }
@media (min-width: 992px) {
  html:not(.sticky-header-active) #header.header-transparent .header-nav-main nav > ul > li:not(.active) > a,
  html #header.header-semi-transparent .header-nav-main nav > ul > li:not(.active) > a, html:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav > ul > li:not(.active) > a {
    color: #FFF; }
    html:not(.sticky-header-active) #header.header-transparent .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after,
    html #header.header-semi-transparent .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after, html:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after {
      border-color: #FFF transparent transparent transparent; } }
/* Responsive */
@media (max-width: 991px) {
  #header .header-container,
  #header .header-row {
    display: block; }
  #header .header-column {
    display: block; }
    #header .header-column .header-row {
      display: block; }
  #header.header-mobile-nav-only .header-logo {
    float: none; }
  #header.header-mobile-nav-only .header-nav {
    margin-top: -35px; }

  html.sticky-header-negative.sticky-header-active #header .header-logo {
    padding-top: 7px; } }
/* Mega Menu (Signin/SignUp) */
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-menu {
  width: 40%;
  right: 15px;
  left: auto;
  border-radius: 6px 0 6px 6px;
  transform: translate3d(0, 0, 0); }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-menu a {
    transform: translate3d(0, 0, 0); }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .fa-user {
  margin-right: 5px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-mega-sub-title {
  margin-bottom: 10px;
  display: block; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .sign-up-info,
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .log-in-info {
  text-align: center;
  display: block; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signin .signin-form {
  display: block; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signin .signup-form,
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signin .recover-form {
  display: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signup .signin-form {
  display: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signup .signup-form {
  display: block; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.signup .recover-form {
  display: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.recover .signin-form,
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.recover .signup-form {
  display: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.recover .recover-form {
  display: block; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .user-avatar .img-thumbnail {
  float: left;
  margin-right: 15px; }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .user-avatar .img-thumbnail img {
    max-width: 55px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .user-avatar strong {
  display: block;
  padding-top: 7px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .user-avatar span {
  display: block;
  font-size: 12px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .user-avatar p {
  margin: 0 0 0 25px;
  text-align: left; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .list-account-options {
  list-style: square;
  margin: 6px 0 0;
  padding: 0; }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .list-account-options a:hover {
    text-decoration: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu {
  width: 40%;
  right: 15px;
  left: auto;
  border-radius: 6px 0 6px 6px;
  transform: translate3d(0, 0, 0); }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu a {
    transform: translate3d(0, 0, 0); }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu li table {
    width: 100%;
    margin-top: 0; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu li table tr td a {
      background-color: transparent !important;
      color: #333;
      padding: 0;
      margin: 0;
      display: block; }
      #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu li table tr td a.remove {
        float: right; }
      #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu li table tr td a:hover {
        text-decoration: none; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .fa-shopping-cart {
  margin-right: 5px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .product-thumbnail {
  width: 120px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .product-actions {
  text-align: right;
  width: 80px; }
#header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .actions-continue {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #DDD;
  clear: both; }
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .actions-continue .btn {
    margin-bottom: 10px; }

/* Responsive */
@media (max-width: 991px) {
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin {
    margin-right: 0; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-toggle {
      display: none; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-menu {
      display: block !important;
      margin: 0 !important;
      padding: 0 10px 0 10px;
      width: 100%;
      right: 0; }
      #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-menu .dropdown-mega-sub-title {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 0; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .dropdown-toggle {
      display: none; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .dropdown-mega-content {
      margin: 15px 0 !important; }
    #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .list-account-options {
      margin: 15px 0 0 0 !important; }
      #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin.logged .list-account-options > li > a {
        line-height: 35px; } }
/* Mega Menu (Signin/SignUp) */
/* Responsive */
@media (max-width: 991px) {
  #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-shop .dropdown-menu {
    margin: 15px 0;
    padding: 0 15px;
    width: 100%; } }
html.side-header #header {
  min-height: 0 !important; }

@media (min-width: 992px) {
  html.side-header .main .container,
  html.side-header #footer .container {
    padding: 0 35px;
    width: auto !important;
    max-width: 1210px; }
  html.side-header body > .body {
    margin: 0 0 0 255px;
    width: auto;
    overflow-x: hidden;
    overflow-y: visible; }
    html.side-header body > .body .forcefullwidth_wrapper_tp_banner .rev_slider_wrapper {
      width: 100% !important;
      left: auto !important; }
  html.side-header #header {
    background: #FFF;
    position: fixed;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
    top: 0;
    left: 0;
    width: 255px;
    height: 100%; }
    html.side-header #header .header-body {
      border-top: 0; }
    html.side-header #header .header-container {
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; }
    html.side-header #header .header-search {
      margin: 5px 0 10px;
      float: none; }
      html.side-header #header .header-search .input-group {
        width: 100%; }
        html.side-header #header .header-search .input-group .form-control {
          width: 100%; }
    html.side-header #header .header-nav-top {
      margin: 0;
      float: none; }
      html.side-header #header .header-nav-top .nav > li > a,
      html.side-header #header .header-nav-top .nav > li > span {
        display: block; }
    html.side-header #header .header-logo {
      margin: 0;
      float: none;
      text-align: center;
      width: auto !important;
      height: auto !important;
      padding: 10px 0; }
    html.side-header #header .header-column {
      display: block; }
      html.side-header #header .header-column .header-row {
        clear: both; }
    html.side-header #header .header-nav-main {
      float: none; }
      html.side-header #header .header-nav-main nav > ul > li.dropdown > a.dropdown-toggle:after {
        content: "";
        border-color: transparent transparent transparent #CCC; }
      html.side-header #header .header-nav-main nav > ul > li.dropdown.open > a, html.side-header #header .header-nav-main nav > ul > li.dropdown:hover > a {
        padding-bottom: 10px; }
      html.side-header #header .header-nav-main nav > ul > li.dropdown.open > .dropdown-menu, html.side-header #header .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
        top: 3px;
        left: 100%;
        border-top: 0;
        border-left: 5px solid #CCC;
        margin-left: -5px; }
      html.side-header #header .header-nav-main nav > ul > li.dropdown li.dropdown-submenu:hover > .dropdown-menu {
        margin-top: -5px;
        border-top: 0; }
      html.side-header #header .header-nav-main nav > ul > li.dropdown-mega {
        position: relative; }
        html.side-header #header .header-nav-main nav > ul > li.dropdown-mega .dropdown-menu {
          min-width: 720px; }
      html.side-header #header .header-nav-main nav > ul > li > a {
        display: block; }
    html.side-header #header .nav-pills > li {
      float: none;
      margin: 0 0 1px 0; }
    html.side-header #header .header-social-icons {
      float: none;
      text-align: center;
      margin-top: 25px; }
  html.side-header-right body > .body {
    margin: 0 255px 0 0; }
  html.side-header-right #header {
    left: auto;
    right: 0; }
    html.side-header-right #header .header-nav-main nav > ul > li.dropdown > a.dropdown-toggle {
      padding-right: 5px;
      padding-left: 5px; }
      html.side-header-right #header .header-nav-main nav > ul > li.dropdown > a.dropdown-toggle:after {
        float: left;
        margin-right: 9px;
        margin-top: 6px; }
    html.side-header-right #header .header-nav-main nav > ul > li.dropdown.open > .dropdown-menu, html.side-header-right #header .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
      right: 100%;
      left: auto;
      border-right: 5px solid #CCC;
      border-left: 0;
      margin-left: 0;
      margin-right: -5px;
      border-radius: 4px 0 0 4px; }
    html.side-header-right #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
      left: 10px;
      right: initial; }
  html.side-header-semi-transparent body > .body {
    margin: 0; }
  html.side-header-semi-transparent #header {
    background: rgba(0, 0, 0, 0.3); }
    html.side-header-semi-transparent #header .header-body {
      background: transparent !important; } }
@media (max-height: 768px) {
  html.side-header #header .header-nav-main nav > ul > li.dropdown.open > .dropdown-menu, html.side-header #header .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
    bottom: 0;
    top: auto; } }

/*# sourceMappingURL=theme.css.map */
