@import 'variables.scss';
@import 'theme.scss';
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* ---------- GENERAL ---------- */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-sans-serif;
    color: $gray-dark-custom;
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: $headings-font-family;
    font-weight: $font-weight-headings;
    line-height: 1.1;
}

h1,
.h1 {
    font-size: $font-size-h1;
}

h2,
.h2 {
    font-size: $font-size-h2;
}

h3,
.h3 {
    font-size: $font-size-h3;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #333;
}

a:focus,
a:hover {
    color: #777777;
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.main-objectives {
    li {
        font-size: 1.4rem;
    }
}

.marketing a h1,
.marketing a h2,
.marketing a h3,
.marketing a h4,
.marketing a h5,
.marketing a h6 {
    color: $link-color;
    font-weight: 400;
    font-size: 2rem;
}


/* ---------- Utilities ---------- */

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.bg-custom-color1 {
    background-color: $custom-color1;
}

.bg-custom-color2 {
    background-color: $custom-color2;
}

.bg-img-jumbotron {
    background-image: url(../img/geometric-background-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-background-1 {
    background-color: $section-background-1;
}

.condensed-paragraph {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}

.brand-custom {
    background-color: $brand-custom;
}

[class^="hvr-"] {
    margin: .4em;
    padding: .6rem 1.6rem .6rem 1rem;
    cursor: pointer;
    background: #333;
    text-decoration: none;
    border-radius: $border-radius-base;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.partner-feature-description {
    font-size: 1.1rem;
    text-align: justify;
}

.padding-large-vertical {
    padding: $padding-large-vertical;
}

.padding-xl-bottom {
    padding-bottom: $padding-xl-bottom;
}


/*.padding-large-md-vertical{
    padding: $padding-large-md-vertical 0;
}
.padding-large-md-bottom{
    padding-bottom: $padding-large-mb-bottom;
}*/


/* ---------- Components ---------- */

.main-cta-container {
    display: none;
}

.side-menu-left {
    h3 {
        font-weight: 400;
    }
    a {
        padding-left: 0;
        font-size: $font-size-large;
        font-weight: 300;
    }
}

.jumbotron {
    background-color: $custom-color2;
    padding: 2rem 2rem;
    border-radius: 0;
    p {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
    }
    p.project-desc-text {
        font-size: 1.25rem;
    }
    p.partner-info-text {
        font-size: 1rem;
        text-align: justify;
        color: #333 !important;
    }
    blockquote {
        font-family: "Droid Serif", sans-serif;
        color: #6f6f6f;
        text-align: center;
        p {
            font-size: 1.25rem;
            color: #333 !important;
        }
    }
    img.logo-partners {
        margin: auto;
        padding: 0 2rem;
        border-left: 0;
    }
}

.carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    bottom: 3rem;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.title-service h2 {
    padding-top: 2rem;
}

h2.title-objectives {
    padding-top: 2rem;
}

#accordion {
    .card {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom-color: #ccc;
        .card-header {
            background-color: transparent;
            padding: 1rem 1.25rem;
            a {
                h5 {
                    font-size: 1.6rem;
                }
                i {
                    font-size: 1rem;
                }
            }
            a[aria-expanded=true] .fa-chevron-right {
                display: none;
            }
            a[aria-expanded=false] .fa-chevron-down {
                display: none;
            }
        }
    }
}
a.img-service img{
    max-width: 50%;
}

/* ---------- Buttons & Links ---------- */

a.eu-btn-primary {
    color: #fff;
    background-color: $btn-primary-bg;
    border: solid 2px;
    border-color: #fff;
    &:hover {
        background-color: $main-button-bg-hover;
        border-color: #fff;
    }
}

a.eu-btn-info {
    color: #303030;
    background-color: $btn-info-bg;
    border-color: transparent;
    border-bottom: solid 2px;
    border-bottom-color: #cdcdcd;
    border-radius: $border-radius-base;
    &:hover {
        background-color: $main-button-bg-hover;
        border-color: transparent;
        border-bottom: solid 2px;
        border-bottom-color: #cdcdcd;
    }
}

a.eu-btn-custom {
    color: #F26047;
    background-color: $btn-info-bg;
    border: 2px solid #F26047;
    &:hover {
        background-color: $main-button-bg-hover;
        border: 2px solid #F26047;
        color: #fff;
    }
}

button.eu-btn-primary {
    color: #fff;
    background-color: $btn-primary-bg;
    border: solid 2px;
    border-color: #fff;
    &:hover {
        background-color: $main-button-bg-hover;
        border-color: #fff;
    }
}


/*headers decoration*/

.plate {
    .script {
        text-align: center;
        /*font-size: 40px;*/
        position: relative;
        margin: 0;
        span {
            background-color: #fff;
            padding: 0;
            position: relative;
            line-height: 1.2;
        }
        span.alt-bg {
            background-color: $section-background-1;
            padding: 0 0.3em;
            position: relative;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 2px;
            background: -moz-linear-gradient(left, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
}


/*main-cta-container*/


/* ---------- END GENERAL ---------- */


/* -------------------------------- CLASSES -------------------------------------------- */


/* ---------- HEADER ---------- */


/* ---------- END HEADER ---------- */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Bump up size of carousel content */

.carousel.home-carousel {
    .carousel-partners-brand {
        position: absolute;
        right: 0;
        z-index: 99;
        top: 80px;
        img {
            width: 11rem;
        }
    }
    .carousel-caption {
        p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
    }
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    h1 {
        text-shadow: 1px 1px 2px #2d2d2d;
        color: #fff;
        font-weight: 400;
    }
    p {
        font-size: 1.25rem;
        font-weight: 100;
    }
}


/* Declare heights because of positioning of img element */

ol.carousel-indicators {
    display: none;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32rem;
    }
}

.dot-matrix {
    background: url(../img/overlay.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.header-banner {
    position: relative;
    img {
        width: 100%;
    }
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing {
    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
}


/* Featurettes
------------------------- */

.featurette-divider {
    /* Space out the Bootstrap <hr> more */
    margin: 3.6rem 0;
}

.featurette-divider2 {
    margin: 3rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* Portfolio
------------------------- */

.eu-portfolio {
    min-height: 36rem;
    background-color: #f7f7f7;
    .card {
        padding: .75rem;
        border: 0;
        img {
            width: 100%;
        }
        >img {
            margin-bottom: .75rem;
            width: 100%;
        }
    }
}

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

.eu-portfolio.success-cases-filter {
    .each-item {
        .cap1 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(248, 248, 248, 0.9);
            bottom: -84%;
            padding: 10px;
            transition: all .5s;
            color: #000;
            align-items: center;
            text-align: center;
        }
        &:hover {
            .cap1 {
                bottom: 0px;
                display: flex;
                flex-direction: column;
                padding-top: 4rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: white !important;
            }
        }
    }
}


/* end portfolio
------------------------- */


/* thumbnails
------------------------- */

.each-item {
    position: relative;
    overflow: hidden;
    &:hover {
        .cap1 {
            bottom: 0px;
            display: flex;
            flex-direction: column;
            padding-top: 4rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: white !important;
            a {
                color: #fff;
            }
        }
    }
    .cap1 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0.9);
        bottom: -82%;
        padding: 10px;
        transition: all .5s;
        color: #000;
        align-items: center;
        text-align: center;
        h3.filter-info-title {
            margin-bottom: 0.3rem;
            font-size: 1.4rem;
            font-weight: 600;
        }
        p.filter-info-text {
            padding: 0 0.6rem;
            font-weight: 300;
            padding: 0 2rem;
        }
        a.filter-info-link {
            letter-spacing: 1px;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            position: relative;
            text-transform: uppercase;
            font-size: .8rem;
            padding-right: 2.2em;
            -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
            &:before {
                content: "\f054";
                position: absolute;
                right: 1em;
                padding: 0 1px;
                font-family: FontAwesome;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                -webkit-transform: translateX(6px);
                transform: translateX(6px);
            }
        }
    }
}


/* end thumbnails
------------------------- */


/* ---------- Latest blog post ---------- */

.eu-blog-posts {
    .blog-post {
        padding-bottom: 1.4rem;
        a {
            color: #333;
        }
        &:hover h3 {
            color: $brand-custom2;
            text-decoration: underline;
        }
        &:hover p {
            color: $brand-custom2;
        }
    }
}


/* ---------- Social Sidebar ---------- */

.social-container {
    display: none;
}


/* #Footer */

.scroll-to-top {
    display: none;
}

#footer {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clear: both;
    .footer-image-filter {
        background-color: #333333;
        padding: 5rem 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
        ul {
            list-style: none;
            line-height: 2.2;
            li {
                i {
                    color: #fff;
                    padding-right: .3rem;
                }
                a {
                    color: #ccc;
                    font-size: $font-size-large;
                    font-weight: 300;
                    &:hover {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
            img {
                padding: 1.5rem 0;
            }
        }
        .footer-form-colum {
            position: relative;
            top: -10px;
            #contactForm {
                h4 {
                    font-size: 2.4rem;
                    font-weight: 300;
                }
                p {
                    color: #ccc;
                    font-weight: 300;
                    font-size: 1.3rem;
                }
                .form-group {
                    input {
                        color: #333;
                    }
                    textarea {
                        width: 100%;
                        height: 80px;
                        max-height: 80px;
                        border-radius: .25rem;
                        padding: .5rem .75rem;
                        font-size: 1rem;
                        color: #ccc;
                    }
                }
            }
        }
    }
    .footer-copyright {
        background: #060606;
        padding: 14px 0;
        .container {
            p {
                margin: 0;
                color: #ccc;
            }
            ul {
                list-style: none;
                li {
                    padding: 0 .5rem;
                    &:first-child {
                        border-right: 1px solid #ccc;
                    }
                    a {
                        color: #ccc;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 576px) {
    /*components*/
    a.img-service img{
        max-width: 100%;
    }
    .jumbotron img.logo-partners {
        margin: auto;
        padding: 0 2rem;
        border-left: 1px solid #777777;
    }
    .carousel-caption {
        position: absolute;
        right: 15%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }
    .plate {
        .script {
            text-align: center;
            /*font-size: 40px;*/
            position: relative;
            margin: 0;
            span {
                background-color: #fff;
                padding: 0 0.3em;
                position: relative;
                line-height: 1.2;
            }
            span.alt-bg {
                background-color: $section-background-1;
                padding: 0 0.3em;
                position: relative;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                width: 100%;
                height: 2px;
                background: -moz-linear-gradient(left, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(119, 119, 119, 0.15) 0%, rgba(119, 119, 119, 0.15) 1%, rgba(119, 119, 119, 0.5) 22%, rgba(119, 119, 119, 1) 44%, rgba(119, 119, 119, 1) 56%, rgba(119, 119, 119, 0.98) 57%, rgba(119, 119, 119, 0.5) 80%, rgba(119, 119, 119, 0.15) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
        }
    }
    /* Bump up size of carousel content */
    .carousel.home-carousel {
        .carousel-partners-brand {
            position: absolute;
            right: 0;
            z-index: 99;
            top: 80px;
            img {
                width: 11rem;
            }
        }
        .carousel-caption {
            p {
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                line-height: 1.4;
            }
        }
    }
    ol.carousel-indicators {
        bottom: -40px;
        display: flex;
    }
    .main-cta-container {
        display: block;
        background-color: $gray-dark-custom;
        .container {
            align-items: center;
            p {
                color: #fff;
                margin: 0;
                font-size: 1.4rem;
            }
            a {}
        }
    }
    /* ---------- Social Sidebar ---------- */
    .social-container {
        display: block;
        #social-sidebar {
            right: 0;
            margin-top: -75px;
            /* (li * a:width) / -2 */
            position: fixed;
            top: 50%;
            z-index: 9;
            ul {
                list-style: none;
                li {
                    &:first-child a {
                        border-radius: 5px 0 0 0;
                    }
                    &:last-child a {
                        border-radius: 0 0 0 5px;
                    }
                }
                a {
                    background: #121212;
                    color: #fff;
                    display: block;
                    height: 40px;
                    font-size: 14px;
                    line-height: 43px;
                    position: relative;
                    text-align: center;
                    width: 40px;
                    &:hover span {
                        right: 114%;
                        opacity: 1;
                    }
                    span {
                        border-radius: 3px;
                        line-height: 24px;
                        right: -100%;
                        margin-top: -16px;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                        opacity: 0;
                        width: 106px;
                        padding: 4px 8px;
                        position: absolute;
                        -webkit-transition: opacity .3s, right .4s;
                        -moz-transition: opacity .3s, right .4s;
                        -ms-transition: opacity .3s, right .4s;
                        -o-transition: opacity .3s, right .4s;
                        transition: opacity .3s, right .4s;
                        top: 50%;
                        white-space: nowrap;
                        z-index: -1;
                        &:before {
                            content: "";
                            display: block;
                            height: 8px;
                            right: -4px;
                            margin-top: -4px;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                            width: 8px;
                            z-index: -2;
                        }
                    }
                    &[class*="facebook"] {
                        &:hover {
                            background: #3b5998;
                        }
                        span {
                            background: #3b5998;
                            &:before {
                                background: #3b5998;
                            }
                        }
                    }
                    &[class*="twitter"] {
                        &:hover {
                            background: #55acee;
                        }
                        span {
                            background: #55acee;
                            &:before {
                                background: #55acee;
                            }
                        }
                    }
                    &[class*="linkedin"] {
                        &:hover {
                            background: #007bb5;
                        }
                        span {
                            background: #007bb5;
                            &:before {
                                background: #007bb5;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    /*components*/
    .partner-feature-description {
        padding-top: 0;
    }
    /*general*/
    .marketing a h1,
    .marketing a h2,
    .marketing a h3,
    .marketing a h4,
    .marketing a h5,
    .marketing a h6 {
        color: $link-color;
        font-weight: 300;
        font-size: $font-size-h2;
    }
    /* Utilities*/
    .w-md-40 {
        width: 40%;
    }
    .padding-xl-md-bottom {
        padding-bottom: $padding-xl-md-bottom;
    }
    .padding-large-md-bottom {
        padding-bottom: $padding-large-md-bottom;
    }
    .padding-large-md-top {
        padding-top: $padding-large-md-top;
    }
    .padding-large-md-vertical {
        padding: $padding-large-md-vertical 0;
    }
    .featurette-heading {
        font-size: 50px;
    }
    .featurette-divider {
        margin: 5rem 0;
    }
    .title-service h2 {
        padding-top: 0;
    }
    h2.title-objectives {
        padding-top: 0;
    }
    /*components*/
    .eu-blog-posts {
        .blog-post {
            padding-bottom: 0;
        }
    }
    /*end components*/
    #footer {
        background-image: url(../img/background-image-footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        clear: both;
        .footer-image-filter {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 8rem 0;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #fff;
            }
            ul {
                list-style: none;
                line-height: 2.2;
                li {
                    i {
                        color: #fff;
                        padding-right: .3rem;
                    }
                    a {
                        color: #ccc;
                        font-size: $font-size-large;
                        font-weight: 300;
                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
                img {
                    padding: 1.5rem 0;
                }
            }
            .footer-form-colum {
                position: relative;
                top: -10px;
                #contactForm {
                    h4 {
                        font-size: 2.4rem;
                        font-weight: 300;
                    }
                    p {
                        color: #ccc;
                        font-weight: 300;
                    }
                    .form-group {
                        input {
                            color: #333;
                        }
                        textarea {
                            width: 100%;
                            height: 80px;
                            max-height: 80px;
                            border-radius: .25rem;
                            padding: .5rem .75rem;
                            font-size: 1rem;
                            color: #ccc;
                        }
                    }
                }
            }
        }
        .footer-copyright {
            background: #060606;
            padding: 14px 0;
            .container {
                p {
                    margin: 0;
                    color: #ccc;
                }
                ul {
                    list-style: none;
                    li {
                        padding: 0 .5rem;
                        &:first-child {
                            border-right: 1px solid #ccc;
                        }
                        a {
                            color: #ccc;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 1200px) {
    .carousel.home-carousel {
        .carousel-caption {
            left: 0;
            right: 0;
            padding: 0 1rem;
            p {
                margin-bottom: 1.25rem;
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }
    }
    .header-banner {
        .carousel-caption {
            left: 0;
            right: 0;
            padding: 0 1rem;
            p {
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                line-height: 1.4;
            }
        }
    }
    .featurette-heading {
        margin-top: 7rem;
    }
    /*utilities*/
    .w-lg-50 {
        width: 50%;
    }
    .w-lg-60 {
        width: 60%;
    }
}


/*Carousel partners*/
