@import 'variables.scss';
/* Header */

#header {
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3);
    -moz-box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3);
    box-shadow: 0px 4px 12px 0px rgba(80, 80, 80, 0.3);
    .header-body {
        background: #FFF;
        border-top: 3px solid #EDEDED;
        border-bottom: 1px solid transparent;
        padding: 8px 0;
        -webkit-transition: min-height 0.3s ease;
        -moz-transition: min-height 0.3s ease;
        transition: min-height 0.3s ease;
        width: 100%;
        z-index: 1001;
        min-height: 90px;
        -webkit-box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2);
        -moz-box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2);
        box-shadow: 0px 3px 10px 0px rgba(80, 80, 80, 0.2);
    }
    &.header-no-min-height .header-body {
        min-height: 0 !important;
    }
    .container {
        position: relative;
    }
    .header-container {
        position: relative;
        display: table;
    }
    .header-top {
        background-color: #f4f4f4;
        border-bottom: 1px solid #ededed;
        margin-top: -13px;
        padding: 8px 0;
        position: relative;
        z-index: 4;
        &::after {
            clear: both;
            content: "";
            display: table;
        }
        p {
            font-size: 0.9em;
            margin: 0;
            padding: 0;
            line-height: 37px;
            float: left;
            .fa,
            .icons {
                position: relative;
                top: 1px;
            }
        }
        .header-search {
            float: right;
            margin-top: 2px;
            margin-left: 10px;
            margin-right: 0;
        }
        .header-nav-top {
            float: left;
            margin-top: 0;
            margin-left: 0;
            margin-right: 10px;
        }
        .header-social-icons {
            margin-top: 3px;
        }
        &.header-top-colored {
            margin-top: -13px;
            border-top: 5px solid #CCC;
            border-bottom: 0;
            color: #FFF;
            p,
            a,
            span {
                color: #FFF;
            }
            .form-control {
                border: 0;
            }
        }
        &.header-top-style-2 {
            background: #f6f6f6;
            margin-top: -16px;
        }
        &.header-top-style-3 {
            margin-top: -16px;
            margin-bottom: 10px;
        }
        &.header-top-style-4 {
            background: #E4E6ED;
            margin-top: -16px;
            margin-bottom: 10px;
            border-bottom: 0;
        }
    }
    .header-row {
        display: table-row;
        clear: both;
    }
    .header-column {
        display: table-cell;
        vertical-align: middle;
        .row {
            margin: 0;
        }
        .header-row {
            display: block;
            clear: right;
        }
        .header-extra-info {
            list-style: outside none none;
            margin: 24px 0 0;
            padding: 0;
            float: right;
            li {
                display: inline-block;
                margin-left: 25px;
                .feature-box small {
                    position: relative;
                    top: -4px;
                }
            }
        }
        &.header-column-valign-top {
            vertical-align: top;
        }
        &.header-column-valign-bottom {
            vertical-align: bottom;
        }
        &.header-column-center {
            text-align: center;
            .header-logo {
                width: 100% !important;
                padding: 9px 0;
            }
        }
    }
    .header-logo {
        float: left;
        position: relative;
        img {
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            position: relative;
            margin: 24px 15px 15px 0;
            top: 0;
        }
    }
    .header-logo-mobile {
       
        float: left;
        position: relative;
        img {
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            position: relative;
            margin: 15px 15px 15px 0;
            top: 0;
        }
    }
    .header-nav-top {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        .nav>li {
            > {
                a,
                span {
                    color: #999;
                    font-size: 0.9em;
                    padding: 6px 10px;
                    display: inline-block;
                    a{
                        color: #999;
                        &:hover{
                            color: #727272;
                        }
                    }
                }
                a {
                    .fa,
                    .icons {
                        margin-right: 3px;
                        position: relative;
                        top: 1px;
                    }
                }
                span {
                    .fa,
                    .icons {
                        margin-right: 3px;
                        position: relative;
                        top: 1px;
                    }
                }
                a {
                    &:hover,
                    a:focus {
                        background: #EEE;
                    }
                }
            }
            &.open>.dropdown-menu-toggle {
                border-radius: 4px 4px 0 0;
            }
        }
        .dropdown-menu {
            border-color: #EEE;
            margin-top: -2px;
            border-radius: 4px 0 4px 4px;
            padding: 0;
            top: 50%;
            a {
                color: #999;
                padding: 6px 12px;
                font-size: 0.9em;
            }
        }
        .flag {
            margin-right: 6px;
            margin-bottom: 2px;
        }
    }
    .header-search {
        float: right;
        margin-top: 10px;
        margin-left: 10px;
        .form-control {
            border-radius: 20px;
            font-size: 0.9em;
            height: 34px;
            margin: 0;
            padding: 6px 12px;
            -webkit-transition: width 0.3s ease;
            -moz-transition: width 0.3s ease;
            transition: width 0.3s ease;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            width: 170px;
        }
        .btn-default {
            background: transparent;
            border: 0 none;
            color: #CCC;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
            &:hover {
                color: #000;
            }
        }
    }
    .header-social-icons {
        float: right;
        margin: 15px 0 0 10px;
    }
    .header-btn-collapse-nav {
        background: #CCC;
        color: #FFF;
        display: none;
        float: right;
        margin: 12px 0 8px 15px;
    }
    &.header-narrow {
        .header-body {
            min-height: 0;
        }
        .header-logo img {
            margin: 12px 12px 12px 0;
        }
        .header-nav-main {
            margin-bottom: 0;
        }
    }
    &.header-no-border-bottom .header-body {
        padding-bottom: 0 !important;
        border-bottom: 0 !important;
    }
}

html {
    &:not(.boxed) #header.header-full-width .header-container {
        width: 100%;
    }
    #header.header-transparent {
        min-height: 0 !important;
        width: 100%;
        position: absolute;
        .header-body {
            position: relative;
            top: 0;
            background: transparent;
            border-top: 0;
            border-bottom: 0;
            box-shadow: none;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: #FFF;
                opacity: 0;
                border-bottom: 1px solid #f1f1f1;
                -webkit-transition: opacity 0.3s ease;
                -moz-transition: opacity 0.3s ease;
                transition: opacity 0.3s ease;
                -webkit-transform: translate3d(0, 0, 0);
                -webkit-backface-visibility: hidden;
                -webkit-perspective: 1000px;
                perspective: 1000px;
            }
        }
    }
    &.sticky-header-enabled #header.header-transparent .header-body {
        position: fixed;
    }
    &.sticky-header-active #header.header-transparent .header-body {
        border-bottom: 0;
        box-shadow: none;
        &:before {
            opacity: 1;
        }
    }
    #header {
        &.header-semi-transparent,
        &.header-semi-transparent-light {
            min-height: 0 !important;
            width: 100%;
            position: absolute;
        }
        &.header-semi-transparent .header-body,
        &.header-semi-transparent-light .header-body {
            position: relative;
            top: 0;
            background: transparent;
            border-top: 0;
            border-bottom: 0;
            box-shadow: none;
        }
        &.header-semi-transparent .header-body:before,
        &.header-semi-transparent-light .header-body:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #000;
            border-bottom: 0;
            opacity: 0.3;
            -webkit-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000px;
            perspective: 1000px;
        }
    }
    &.sticky-header-enabled #header.header-semi-transparent .header-body {
        position: fixed;
    }
    &.sticky-header-active #header.header-semi-transparent .header-body {
        border-bottom: 0;
        box-shadow: none;
        &:before {
            opacity: 0.8;
        }
    }
    #header.header-semi-transparent-light .header-body:before {
        opacity: 0.1;
        background: #FFF;
    }
    &.sticky-header-enabled #header.header-semi-transparent-light .header-body {
        position: fixed;
    }
    &.sticky-header-active #header.header-semi-transparent-light .header-body {
        border-bottom: 0;
        box-shadow: none;
        &:before {
            border-bottom: 1px solid #f1f1f1;
            opacity: 0.9;
        }
    }
    #header.header-transparent-bottom-border .header-body {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    &.sticky-header-active #header .header-body {
        /*position: fixed;*/
        border-bottom-color: #e9e9e9;
    }
    &:not(.sticky-header-active) #header.header-transparent-sticky-deactive .header-body:before {
        background: transparent !important;
    }
}

@media (max-width: 991px) {
    html.sticky-header-active #header.has-nav-bar .header-logo img {
        top: 86px;
        padding: 5px 8px;
        z-index: 1;
    }
}


/* Header Nav Main */

@media (min-width: 992px) {
.sticky-header-active #header .header-body {
        position: fixed;
    }
    
    #header {
        .header-body{
            min-height: 125px;
            .header-nav-top {
        float: right;
        margin-top: 10px;
        margin-left: 10px;}
        
        .header-nav-main {
            float: right;
            margin: 12px 0 0;
            min-height: 45px;
            nav>ul>li {
                padding: 10px 20px;
                >a {
                    display: inline-block;
                    border-radius: 4px;
                    font-size: $font-size-large;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    
                    color: #333;
                    &.dropdown-toggle {
                        .fa-caret-down {
                            display: none;
                        }
                        &:after {
                            border-color: #CCC transparent transparent transparent;
                            border-style: solid;
                            border-width: 4px;
                            content: " ";
                            float: right;
                            margin-top: 7px;
                            margin-left: 4px;
                        }
                    }
                }
                &:after {
                    content: "";
                    background-color:#8c8c8c;;
                    display: block;
                    width: 100%;
                    height: 2px;
                    -webkit-transform: scale(0, 1);
                    -ms-transform: scale(0, 1);
                    transform: scale(0, 1);
                    -ms-transform-origin: left center;
                    transform-origin: left center;
                    -webkit-transform-origin: left center;
                    transition: all .15s ease-out;
                    -moz-opacity: 0;
                    -khtml-opacity: 0;
                    opacity: 0;
                }
                &.open>a,
                &:hover {
                    &:after {
                        transform: scale(1, 1);
                        opacity: 1;
                    }
                }
                &.dropdown {
                    .dropdown-menu {
                        top: -10000px;
                        display: block;
                        opacity: 0;
                        left: auto;
                        border-radius: 0 4px 4px;
                        border: 0;
                        border-top: 3px solid #CCC;
                        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
                        margin: -3px 0 0 0;
                        min-width: 200px;
                        padding: 5px;
                        text-align: left;
                        li {
                            a {
                                border-bottom: 1px solid #f4f4f4;
                                color: #777;
                                font-size: 0.9em;
                                font-weight: 400;
                                padding: 8px 20px 8px 8px;
                                position: relative;
                                text-transform: none;
                            }
                            &.dropdown-submenu {
                                position: relative;
                                > {
                                    a {
                                        .fa-caret-down {
                                            display: none;
                                        }
                                        &:after {
                                            border-color: transparent transparent transparent #CCC;
                                            border-style: solid;
                                            border-width: 4px 0 4px 4px;
                                            content: " ";
                                            position: absolute;
                                            top: 50%;
                                            right: 10px;
                                            -webkit-transform: translateY(-50%);
                                            -moz-transform: translateY(-50%);
                                            -ms-transform: translateY(-50%);
                                            -o-transform: translateY(-50%);
                                            transform: translateY(-50%);
                                        }
                                    }
                                    .dropdown-menu {
                                        display: block;
                                        margin-top: -8px;
                                        margin-left: -1px;
                                        border-radius: 4px;
                                        opacity: 0;
                                    }
                                }
                                &:hover>.dropdown-menu {
                                    top: 0;
                                    opacity: 1;
                                }
                            }
                            &:last-child a {
                                border-bottom: 0;
                            }
                        }
                    }
                    &.open li.dropdown-submenu>.dropdown-menu,
                    &:hover li.dropdown-submenu>.dropdown-menu {
                        left: 100%;
                    }
                    &.open>a,
                    &:hover>a {
                        padding-bottom: 15px;
                    }
                    &.open>.dropdown-menu,
                    &:hover>.dropdown-menu {
                        top: auto;
                        display: block;
                        opacity: 1;
                    }
                }
                &.dropdown-reverse .dropdown-menu li {
                    a {
                        padding-right: 8px;
                        padding-left: 20px;
                    }
                    &.dropdown-submenu>a:after {
                        border-width: 4px 4px 4px 0;
                    }
                }
                &.dropdown-mega {
                    position: static;
                    >.dropdown-menu {
                        border-radius: 4px;
                        left: 15px;
                        right: 15px;
                        width: auto;
                    }
                    .dropdown-mega-content {
                        padding: 20px 30px;
                    }
                    .dropdown-mega-sub-title {
                        color: #333333;
                        display: block;
                        font-size: 1em;
                        font-weight: 600;
                        margin-top: 20px;
                        padding-bottom: 5px;
                        text-transform: uppercase;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                    .dropdown-mega-sub-nav {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        >li {
                            >a {
                                border: 0 none;
                                border-radius: 4px;
                                color: #777;
                                display: block;
                                font-size: 0.9em;
                                font-weight: normal;
                                margin: 0 0 0 -8px;
                                padding: 3px 8px;
                                text-shadow: none;
                                text-transform: none;
                                text-decoration: none;
                            }
                            &:hover>a {
                                background: #f4f4f4;
                            }
                        }
                    }
                }
            }
            &.header-nav-main-no-arrows nav>ul>li a.dropdown-toggle {
                padding-left: 16px !important;
                padding-right: 16px !important;
                &:after {
                    display: none;
                }
            }
            &.header-nav-main-square {
                margin-bottom: -9px;
                nav>ul>li {
                    >a {
                        border-radius: 0;
                    }
                    &.dropdown .dropdown-menu {
                        margin-top: 0;
                        border-radius: 0;
                        li.dropdown-submenu>.dropdown-menu {
                            border-radius: 0;
                        }
                    }
                    &.dropdown-mega {
                        >.dropdown-menu,
                        .dropdown-mega-sub-nav>li>a {
                            border-radius: 0;
                        }
                    }
                }
            }
            a {
                >.thumb-info-preview {
                    position: absolute;
                    display: block;
                    left: 100%;
                    opacity: 0;
                    border: 0;
                    padding-left: 10px;
                    background: transparent;
                    overflow: visible;
                    margin-top: 15px;
                    top: -10000px;
                    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
                    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
                    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
                    transform: translate3d(-20px, 0, 0);
                    .thumb-info-wrapper {
                        background: #FFF;
                        display: block;
                        border-radius: 4px;
                        border: 0;
                        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
                        margin: 0;
                        padding: 4px;
                        text-align: left;
                        width: 190px;
                    }
                    .thumb-info-image {
                        transition: all 6s linear 0s;
                        width: 182px;
                        height: 136px;
                        min-height: 0;
                    }
                }
                &:hover>.thumb-info-preview {
                    transform: translate3d(0, 0, 0);
                    top: 0;
                    opacity: 1;
                    margin-top: -5px;
                }
            }
            .dropdown-reverse a {
                >.thumb-info-preview {
                    transform: translate3d(20px, 0, 0);
                    right: 100%;
                    left: auto;
                    padding-left: 0;
                    margin-right: 10px;
                }
                &:hover>.thumb-info-preview {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
        .header-nav {
            display: block !important;
            &.header-nav-stripe {
                margin-bottom: -23px;
                nav>ul>li {
                    >a {
                        background: transparent;
                        padding: 40px 13px 38px;
                        margin: 0;
                    }
                    &:hover {
                        >a {
                            background: transparent;
                            padding: 40px 13px 38px;
                            margin: 0;
                        }
                        >a {
                            color: #FFF;
                        }
                    }
                    >a {
                        color: #444;
                        &.dropdown-toggle:after {
                            border-color: #444 transparent transparent transparent;
                        }
                    }
                }
                .header-social-icons {
                    margin-top: 45px;
                }
            }
            &.header-nav-top-line {
                margin-bottom: -7px;
                nav>ul>li {
                    >a {
                        background: transparent;
                        color: #444;
                        padding: 21px 13px 35px;
                        margin: 0;
                    }
                    &:hover {
                        >a {
                            background: transparent;
                            color: #444;
                            padding: 21px 13px 35px;
                            margin: 0;
                        }
                        >a:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            top: -16px;
                            left: 0;
                            opacity: 0;
                        }
                    }
                    >a:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        top: -16px;
                        left: 0;
                        opacity: 0;
                    }
                    &.active>a:before,
                    &:hover>a:before {
                        opacity: 1;
                    }
                    >a.dropdown-toggle:after {
                        border-color: #444 transparent transparent transparent;
                    }
                }
                .header-social-icons {
                    margin-top: 27px;
                }
            }
            &.header-nav-dark-dropdown {
                margin-bottom: -9px;
                nav>ul>li {
                    >a,
                    &:hover>a {
                        background: transparent;
                        color: #444;
                        padding: 21px 13px 35px;
                        margin: 0;
                    }
                    >a.dropdown-toggle:after {
                        border-color: #444 transparent transparent transparent;
                    }
                    &.dropdown {
                        li a {
                            border-bottom-color: #2a2a2a;
                        }
                        .dropdown-menu {
                            background: #1e1e1e;
                            >li>a {
                                color: #969696;
                                &:hover,
                                &:focus {
                                    background: #282828;
                                }
                            }
                        }
                        &.dropdown-mega {
                            .dropdown-mega-sub-title {
                                color: #ababab;
                            }
                            .dropdown-mega-sub-nav>li:hover>a {
                                background: #282828;
                            }
                        }
                    }
                }
                .header-social-icons {
                    margin-top: 27px;
                }
            }
            &.header-nav-center .header-nav-main {
                float: none;
                margin: 0;
                >nav {
                    width: 100%;
                    text-align: center;
                    >ul>li {
                        display: inline-block;
                        float: none;
                        text-align: left;
                    }
                }
            }
        }
        .header-nav-main {
            display: block !important;
            height: auto !important;
        }
        .header-nav-bar {
            background: #F4F4F4;
            padding: 0 10px 5px;
            margin-bottom: 0;
            .header-nav-main {
                float: left;
                margin-bottom: 0;
            }
        }
    }
        }
    
}


/* Header Narrow */

@media (min-width: 992px) {
    #header.header-narrow .header-nav {
        &.header-nav-stripe nav>ul>li {
            >a,
            &:hover>a {
                padding: 45px 13px 30px;
                margin: -12px 0 0;
            }
        }
        &.header-nav-dark-dropdown nav>ul>li {
            >a,
            &:hover>a {
                padding: 45px 13px 30px;
                margin: -12px 0 0;
            }
        }
        &.header-nav-stripe .header-social-icons,
        &.header-nav-dark-dropdown .header-social-icons {
            margin-top: 40px;
        }
        &.header-nav-top-line {
            nav>ul>li {
                >a {
                    padding: 22px 13px 30px;
                    margin: 5px 0 0;
                }
                &:hover {
                    >a {
                        padding: 22px 13px 30px;
                        margin: 5px 0 0;
                    }
                    >a.dropdown-toggle:after {
                        top: 22px;
                    }
                }
                >a.dropdown-toggle:after {
                    top: 22px;
                }
            }
            .header-social-icons {
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: 992px) {
    #header .header-nav-main.header-nav-main-light {
        nav>ul>li {
            >a {
                color: #FFF;
                &.dropdown-toggle:after {
                    border-color: #FFF transparent transparent transparent;
                }
            }
            &.open>a,
            &:hover>a {
                background: #FFF;
            }
            &.open>a.dropdown-toggle:after,
            &:hover>a.dropdown-toggle:after {
                border-color: #CCC transparent transparent transparent;
            }
            &.open>.dropdown-menu,
            &:hover>.dropdown-menu {
                border-top-color: #FFF;
                box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05);
            }
            &.open>.dropdown-menu .dropdown-submenu:hover>.dropdown-menu,
            &:hover>.dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
                border-top-color: #FFF;
            }
            &.active>a {
                background: #FFF;
                &.dropdown-toggle:after {
                    border-color: #CCC transparent transparent transparent;
                }
            }
        }
        .dropdown-menu>li>a {
            &:hover,
            &:focus {
                background: #f5f5f5;
            }
        }
    }
}

@media (min-width: 992px) {
    #header .header-nav-main-effect-1 nav>ul>li.dropdown {
        .dropdown-menu li a,
        .dropdown-mega-sub-nav li a {
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            transform: translate3d(0, -5px, 0);
        }
        &:hover {
            >.dropdown-menu li a,
            .dropdown-mega-sub-nav li a {
                transform: translate3d(0, 0, 0);
            }
        }
        .dropdown-menu {
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            transform: translate3d(0, -5px, 0);
        }
        &:hover>.dropdown-menu {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media (min-width: 992px) {
    #header .header-nav-main-effect-2 nav>ul>li.dropdown {
        .dropdown-menu {
            -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
            transition: transform 0.2s ease-out, opacity 0.2s ease-out;
            transform: translate3d(0, -5px, 0);
            opacity: 0;
        }
        &:hover>.dropdown-menu {
            transform: translate3d(0, -1px, 0);
            opacity: 1;
        }
    }
}

@media (min-width: 992px) {
    #header .header-nav-main-effect-3 nav>ul>li.dropdown {
        .dropdown-menu {
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            transform: translate3d(0, 10px, 0);
        }
        &:hover>.dropdown-menu {
            transform: translate3d(0, 0, 0);
        }
    }
}

@media (min-width: 992px) {
    #header .header-nav-main-sub-effect-1 nav>ul>li.dropdown {
        .dropdown-menu li.dropdown-submenu {
            >.dropdown-menu {
                -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
                -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
                transition: transform 0.2s ease-out, opacity 0.2s ease-out;
                transform: translate3d(-20px, 0, 0);
                opacity: 0;
            }
            &:hover>.dropdown-menu {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
        &.dropdown-reverse .dropdown-menu li.dropdown-submenu {
            >.dropdown-menu {
                -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
                -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
                transition: transform 0.2s ease-out, opacity 0.2s ease-out;
                transform: translate3d(20px, 0, 0);
                left: auto;
                right: 100%;
                opacity: 0;
            }
            &:hover>.dropdown-menu {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}


/* Header Nav Main Mobile */

@media (max-width: 991px) {
    #header {
        .header-nav-main {
            background: transparent;
            clear: both;
            float: none;
            nav {
                margin: 0 0 6px;
                >ul {
                    li {
                        border-bottom: 1px solid #e8e8e8;
                        clear: both;
                        display: block;
                        float: none;
                        margin: 0;
                        padding: 1.2rem 0;
                        position: relative;
                        a {
                            font-size: 1.4rem;
                            font-style: normal;
                            line-height: 20px;
                            padding: 7px 8px;
                            margin: 1px 0;
                            border-radius: 4px;
                            .fa-caret-down {
                                line-height: 35px;
                                min-height: 38px;
                                min-width: 30px;
                                position: absolute;
                                right: 5px;
                                text-align: center;
                                top: 0;
                            }
                        }
                        &.dropdown {
                            .dropdown-menu {
                                background: transparent;
                                padding: 0;
                                margin: 0;
                                font-size: 13px;
                                box-shadow: none;
                                border-radius: 0;
                                border: 0;
                                clear: both;
                                display: none;
                                float: none;
                                position: static;
                                li.dropdown-submenu.opened>.dropdown-menu {
                                    display: block;
                                    margin-left: 20px;
                                }
                            }
                            &.opened>.dropdown-menu {
                                display: block;
                                margin-left: 20px;
                            }
                        }
                        &.dropdown-mega {
                            .dropdown-mega-sub-title {
                                margin-top: 10px;
                                display: block;
                            }
                            .dropdown-mega-sub-nav {
                                margin: 0 0 0 20px;
                                padding: 0;
                                list-style: none;
                                >li>a {
                                    display: block;
                                    text-decoration: none;
                                }
                            }
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                    >li {
                        text-align: center;
                        >a {
                            font-weight: 400;
                            margin-top: 1px;
                            margin-bottom: 1px;
                        }
                        &.active>a {
                            color: #FFF;
                            &:focus,
                            &:hover {
                                color: #FFF;
                            }
                        }
                    }
                }
                .not-included {
                    margin: 0;
                }
            }
            a>.thumb-info-preview {
                display: none !important;
            }
        }
        .header-btn-collapse-nav {
            outline: 0;
            display: block;
        }
        .header-nav-bar {
            margin: 0 auto;
            .header-btn-collapse-nav {
                margin-top: 14px;
            }
        }
        &.header-transparent .header-nav-main,
        &.header-semi-transparent .header-nav-main,
        &.header-semi-transparent-light .header-nav-main {
            padding: 10px;
            margin-bottom: 10px;
            background: #FFF;
            border-radius: 4px;
        }
    }
    html.sticky-header-enabled #header .header-nav-main {
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
        &.collapsing {
            overflow: hidden;
        }
    }
}

@media (min-width: 992px) {
    html {
        &:not(.sticky-header-active) #header.header-transparent .header-nav-main nav>ul>li:not(.active)>a,
        #header.header-semi-transparent .header-nav-main nav>ul>li:not(.active)>a,
        &:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav>ul>li:not(.active)>a {
            color: #FFF;
            &.dropdown-toggle:after {
                border-color: #FFF transparent transparent transparent;
            }
        }
    }
}


/* Responsive */

@media (max-width: 991px) {
    #header {
        .header-container,
        .header-row {
            display: block;
        }
        .header-column {
            display: block;
            .header-row {
                display: block;
            }
        }
        &.header-mobile-nav-only {
            .header-logo {
                float: none;
            }
            .header-nav {
                margin-top: -35px;
            }
        }
    }
    html.sticky-header-negative.sticky-header-active #header .header-logo {
        padding-top: 7px;
    }
}


/* Mega Menu (Signin/SignUp) */

#header .header-nav-main nav>ul>li.dropdown-mega {
    &.dropdown-mega-signin {
        .dropdown-menu {
            width: 40%;
            right: 15px;
            left: auto;
            border-radius: 6px 0 6px 6px;
            transform: translate3d(0, 0, 0);
            a {
                transform: translate3d(0, 0, 0);
            }
        }
        .fa-user {
            margin-right: 5px;
        }
        .dropdown-mega-sub-title {
            margin-bottom: 10px;
            display: block;
        }
        .sign-up-info,
        .log-in-info {
            text-align: center;
            display: block;
        }
        &.signin {
            .signin-form {
                display: block;
            }
            .signup-form,
            .recover-form {
                display: none;
            }
        }
        &.signup {
            .signin-form {
                display: none;
            }
            .signup-form {
                display: block;
            }
            .recover-form {
                display: none;
            }
        }
        &.recover {
            .signin-form,
            .signup-form {
                display: none;
            }
            .recover-form {
                display: block;
            }
        }
        &.logged {
            .user-avatar {
                .img-thumbnail {
                    float: left;
                    margin-right: 15px;
                    img {
                        max-width: 55px;
                    }
                }
                strong {
                    display: block;
                    padding-top: 7px;
                }
                span {
                    display: block;
                    font-size: 12px;
                }
                p {
                    margin: 0 0 0 25px;
                    text-align: left;
                }
            }
            .list-account-options {
                list-style: square;
                margin: 6px 0 0;
                padding: 0;
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &.dropdown-mega-shop {
        .dropdown-menu {
            width: 40%;
            right: 15px;
            left: auto;
            border-radius: 6px 0 6px 6px;
            transform: translate3d(0, 0, 0);
            a {
                transform: translate3d(0, 0, 0);
            }
            li table {
                width: 100%;
                margin-top: 0;
                tr td a {
                    background-color: transparent !important;
                    color: #333;
                    padding: 0;
                    margin: 0;
                    display: block;
                    &.remove {
                        float: right;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .fa-shopping-cart {
            margin-right: 5px;
        }
        .product-thumbnail {
            width: 120px;
        }
        .product-actions {
            text-align: right;
            width: 80px;
        }
        .actions-continue {
            margin-top: 10px;
            padding-top: 20px;
            border-top: 1px solid #DDD;
            clear: both;
            .btn {
                margin-bottom: 10px;
            }
        }
    }
}


/* Responsive */

@media (max-width: 991px) {
    #header .header-nav-main nav>ul>li.dropdown-mega.dropdown-mega-signin {
        margin-right: 0;
        .dropdown-toggle {
            display: none;
        }
        .dropdown-menu {
            display: block !important;
            margin: 0 !important;
            padding: 0 10px 0 10px;
            width: 100%;
            right: 0;
            .dropdown-mega-sub-title {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding-top: 5px;
                padding-bottom: 0;
            }
        }
        &.logged {
            .dropdown-toggle {
                display: none;
            }
            .dropdown-mega-content {
                margin: 15px 0 !important;
            }
            .list-account-options {
                margin: 15px 0 0 0 !important;
                >li>a {
                    line-height: 35px;
                }
            }
        }
    }
}


/* Mega Menu (Signin/SignUp) */


/* Responsive */

@media (max-width: 991px) {
    #header .header-nav-main nav>ul>li.dropdown-mega.dropdown-mega-shop .dropdown-menu {
        margin: 15px 0;
        padding: 0 15px;
        width: 100%;
    }
}

html.side-header #header {
    min-height: 0 !important;
}

@media (min-width: 992px) {
    html {
        &.side-header {
            .main .container,
            #footer .container {
                padding: 0 35px;
                width: auto !important;
                max-width: 1210px;
            }
            body>.body {
                margin: 0 0 0 255px;
                width: auto;
                overflow-x: hidden;
                overflow-y: visible;
                .forcefullwidth_wrapper_tp_banner .rev_slider_wrapper {
                    width: 100% !important;
                    left: auto !important;
                }
            }
            #header {
                background: #FFF;
                position: fixed;
                box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
                top: 0;
                left: 0;
                width: 255px;
                height: 100%;
                .header-body {
                    border-top: 0;
                }
                .header-container {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 100%;
                }
                .header-search {
                    margin: 5px 0 10px;
                    float: none;
                    .input-group {
                        width: 100%;
                        .form-control {
                            width: 100%;
                        }
                    }
                }
                .header-nav-top {
                    margin: 0;
                    float: none;
                    .nav>li> {
                        a,
                        span {
                            display: block;
                        }
                    }
                }
                .header-logo {
                    margin: 0;
                    float: none;
                    text-align: center;
                    width: auto !important;
                    height: auto !important;
                    padding: 10px 0;
                }
                .header-column {
                    display: block;
                    .header-row {
                        clear: both;
                    }
                }
                .header-nav-main {
                    float: none;
                    nav>ul>li {
                        &.dropdown {
                            >a.dropdown-toggle:after {
                                content: "";
                                border-color: transparent transparent transparent #CCC;
                            }
                            &.open>a,
                            &:hover>a {
                                padding-bottom: 10px;
                            }
                            &.open>.dropdown-menu,
                            &:hover>.dropdown-menu {
                                top: 3px;
                                left: 100%;
                                border-top: 0;
                                border-left: 5px solid #CCC;
                                margin-left: -5px;
                            }
                            li.dropdown-submenu:hover>.dropdown-menu {
                                margin-top: -5px;
                                border-top: 0;
                            }
                        }
                        &.dropdown-mega {
                            position: relative;
                            .dropdown-menu {
                                min-width: 720px;
                            }
                        }
                        >a {
                            display: block;
                        }
                    }
                }
                .nav-pills>li {
                    float: none;
                    margin: 0 0 1px 0;
                }
                .header-social-icons {
                    float: none;
                    text-align: center;
                    margin-top: 25px;
                }
            }
        }
        &.side-header-right {
            body>.body {
                margin: 0 255px 0 0;
            }
            #header {
                left: auto;
                right: 0;
                .header-nav-main nav>ul>li.dropdown {
                    >a.dropdown-toggle {
                        padding-right: 5px;
                        padding-left: 5px;
                        &:after {
                            float: left;
                            margin-right: 9px;
                            margin-top: 6px;
                        }
                    }
                    &.open>.dropdown-menu,
                    &:hover>.dropdown-menu {
                        right: 100%;
                        left: auto;
                        border-right: 5px solid #CCC;
                        border-left: 0;
                        margin-left: 0;
                        margin-right: -5px;
                        border-radius: 4px 0 0 4px;
                    }
                    .dropdown-menu li.dropdown-submenu>a:after {
                        left: 10px;
                        right: initial;
                    }
                }
            }
        }
        &.side-header-semi-transparent {
            body>.body {
                margin: 0;
            }
            #header {
                background: rgba(0, 0, 0, 0.3);
                .header-body {
                    background: transparent !important;
                }
            }
        }
    }
}

@media (max-height: 768px) {
    html.side-header #header .header-nav-main nav>ul>li.dropdown {
        &.open>.dropdown-menu,
        &:hover>.dropdown-menu {
            bottom: 0;
            top: auto;
        }
    }
}