//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$gray-base : #E9E9E9 !default;
$gray-darker : lighten($gray-base, 13.5%) !default; // #222
$gray-dark : lighten($gray-base, 20%) !default; // #333
$gray : lighten($gray-base, 33.5%) !default; // #555
$gray-light : lighten($gray-base, 46.7%) !default; // #777
$gray-lighter : lighten($gray-base, 93.5%) !default; // #eee
$gray-dark-custom : #333333;
$gray-med-custom : #8a8a8a;
$brand-primary : #2b5786 !default;
$brand-success : #5cb85c !default;
$brand-info : #fff !default;
$brand-warning : #f0ad4e !default;
$brand-danger : #d9534f !default;
$brand-custom : #3c92ca !default;
$brand-custom2 : #F26047 !default;
$custom-color1 : #fff !default;
$custom-color2 : #E9E9E9!default;
$section-background-1 : #f7f7f7;
//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg : #fff !default;
//** Global text color on `<body>`.
$text-color : $gray-dark !default;
//** Global textual link color.
$link-color : $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color : darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif : 'Source Sans Pro',
Helvetica,
Arial,
sans-serif !default;
$font-family-serif : Georgia,
"Times New Roman",
Times,
serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace : Menlo,
Monaco,
Consolas,
"Courier New",
monospace !default;
$font-family-base : $font-family-sans-serif;
$font-size-base : 16px;
$font-size-xlarge :32px;
$font-size-large: ceil(($font-size-base * 1.12)) !default; // ~18px
$font-size-small : ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1 : floor(($font-size-base * 2.8)) !default; // ~48px
$font-size-h2 : floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h3 : ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4 : ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5 : $font-size-base !default;
$font-size-h6 : ceil(($font-size-base * 0.85)) !default; // ~12px
$font-weight-headings : 300;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base : 1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed : floor(($font-size-base * $line-height-base)) !default; // ~20px
//** By default, this inherits from the `<body>`.
$headings-font-family : 'Source Sans Pro',
sans-serif; 
$headings-font-weight : 500 !default;
$headings-line-height : 1.1 !default;
$headings-color : inherit !default;
//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$padding-base-vertical : 6px !default;
$padding-base-horizontal : 12px !default;
$padding-xl-md-bottom : 6rem;
$padding-xl-bottom : 3rem;
$padding-large-vertical : 2rem 0 !default;
$padding-large-md-vertical : 4rem !default;
$padding-large-horizontal : 16px !default;
$padding-large-md-bottom : 4rem;
$padding-large-md-top : 4rem;
$padding-small-vertical : 5px !default;
$padding-small-horizontal : 10px !default;
$padding-xs-vertical : 1px !default;
$padding-xs-horizontal : 5px !default;
$line-height-large : 1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small : 1.5 !default;
$border-radius-base : .20rem !default;
$border-radius-large : 6px !default;
$border-radius-small : 3px !default;
//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$main-button-bg-hover: #F26047 !default;/*#F26047 - replace for orange// #3c92ca - replace for blueish*/




$btn-font-weight : normal !default;
$btn-default-color : #333 !default;
$btn-default-bg : #fff !default;
$btn-default-border : #ccc !default;
$btn-primary-color : #fff !default;
$btn-primary-bg : $brand-primary !default;
$btn-primary-border : darken($btn-primary-bg, 5%) !default;
$btn-success-color : #fff !default;
$btn-success-bg : $brand-success !default;
$btn-success-border : darken($btn-success-bg, 5%) !default;
$btn-info-color : #fff !default;
$btn-info-bg : $brand-info !default;
$btn-info-border : darken($btn-info-bg, 5%) !default;
$btn-warning-color : #fff !default;
$btn-warning-bg : $brand-warning !default;
$btn-warning-border : darken($btn-warning-bg, 5%) !default;
$btn-danger-color : #fff !default;
$btn-danger-bg : $brand-danger !default;
$btn-danger-border : darken($btn-danger-bg, 5%) !default;
$btn-custom-color : #fff !default;
$btn-custom-bg : $brand-danger !default;
$btn-custom-border : darken($btn-danger-bg, 5%) !default;
$btn-link-disabled-color : $gray-light !default;
// Allows for customizing button radius independently from global border radius
$btn-border-radius-base : $border-radius-base !default;
$btn-border-radius-large : $border-radius-large !default;
$btn-border-radius-small : $border-radius-small !default;
//== Navbar
//
//##
// Basics of a navbar
$navbar-height : 50px !default;
$navbar-margin-bottom : $line-height-computed !default;
$navbar-border-radius : $border-radius-base !default;
$navbar-padding-vertical : (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height : 340px !default;
//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color : lighten($gray-light, 15%) !default;
$navbar-inverse-bg : #222 !default;
$navbar-inverse-border : darken($navbar-inverse-bg, 10%) !default;
// Inverted navbar links
$navbar-inverse-link-color : lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color : #fff !default;
$navbar-inverse-link-hover-bg : transparent !default;
$navbar-inverse-link-active-color : $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg : darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color : #444 !default;
$navbar-inverse-link-disabled-bg : transparent !default;
// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg : #333 !default;
$navbar-inverse-toggle-icon-bar-bg : #fff !default;
$navbar-inverse-toggle-border-color : #333 !default;
//== Navs
//
//##
//=== Shared nav styles
$nav-link-padding : 10px 15px !default;
$nav-link-hover-bg : $gray-lighter !default;
$nav-disabled-link-color : $gray-light !default;
$nav-disabled-link-hover-color : $gray-light !default;
//== Tabs
$nav-tabs-border-color : #ddd !default;
$nav-tabs-link-hover-border-color : $gray-lighter !default;
$nav-tabs-active-link-hover-bg : $body-bg !default;
$nav-tabs-active-link-hover-color : $gray !default;
$nav-tabs-active-link-hover-border-color : #ddd !default;
$nav-tabs-justified-link-border-color : #ddd !default;
$nav-tabs-justified-active-link-border-color : $body-bg !default;
//== Jumbotron
//
//##
$jumbotron-padding : 30px !default;
$jumbotron-color : inherit !default;
$jumbotron-bg : $gray-lighter !default;
$jumbotron-heading-color : inherit !default;
$jumbotron-font-size : ceil(($font-size-base * 1.5)) !default;
$jumbotron-heading-font-size : ceil(($font-size-base * 4.5)) !default;
